* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generali */

main {
    /* Sottraggo la dimensione del footer */
    height: calc(100% - 100px);
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
}

/* Wrapper */
.wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 90vh;
    overflow: hidden;
    background-color: black;
}


/* /Generali */

/* Sidebar */

aside.sidebar {
    width: 250px;
    /* Sottraggo la dimensione del footer */
    height: calc(100% - 105px);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

/* Hover */
/* Uso il selettore negativo per non selezionare il li "creaplaylist" */
aside.sidebar li:hover:not(.no-hover) {
    border-left: solid green 2px;

}

aside.sidebar li:hover:not(.no-hover) a {
    color: white;

}

/* /hover */

.sidebar-top {
    display: flex;
    flex-direction: column;
    /* Sottraggo la dimensione della sidebar-bottom */
    min-height: calc(100% - 100px);
}

/* Nascondo il logo desktop di default - MobileFirst*/
.sidebar-top img.logo-desktop {
    display: none;
}

/* Logo mobile */
.sidebar-top logo-mobile {
    display: flex;
}

.sidebar-top img.logo-mobile {
    width: 50%;
    padding: 20px;
    padding: 20px;
}

/* /Logo mobile */

/* Main Menu */
.sidebar .menu-top ul.main-menu,
.sidebar .menu-top .playlist ul.playlist-menu {
    line-height: 35px;
}

.sidebar .menu-top .playlist ul.playlist-menu {
    margin-top: 20px;
    height: 200px;
    overflow-y: auto;
}

.sidebar .menu-top ul.main-menu li,
.sidebar .menu-top .playlist ul.playlist-menu li {
    padding-left: 20px;
}

/* Formattazione testo menu */
.sidebar .menu-top ul.main-menu a,
.sidebar .menu-top .playlist ul.playlist-menu a {
    text-decoration: none;
    font-size: 16px;
    word-break: break-all;
    color: rgba(255, 255, 255, 0.5);

}

/* Icone menu */
.sidebar .menu-top ul.main-menu a img,
.sidebar-bottom>.profile>.avatar>img {
    height: 26px;
    margin-right: 5px;
    opacity: 0.6;
    vertical-align: middle;
}

/* /Icone menu */

.sidebar .menu-top h2.title {
    color: rgba(255, 255, 255, 0.5);
    padding: 20px;
}


section.playlist {
    /* Nascondo il testo in eccesso */
    overflow: hidden;
    min-height: 600px;
}


/* Pulsante crea playlist */
#add-playlist {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    margin-bottom: 10px;
}

#add-playlist:before {
    display: inline-block;
    width: 35px;
    height: 35px;
    content: "+";
    font-size: 35px;
    text-align: center;
    background-color: grey;
    padding: 5px;
    margin-right: 10px;
    line-height: 35px;
    vertical-align: middle;

}

/* Sidebar bottom */
.sidebar-bottom {
    min-height: 100px;
    min-width: 250px;
    background-color: #121212;
    /* Fisso la sezione */
    position: fixed;
    bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 35px;
    padding: 20px;
    z-index: 200;
}

/* Immagine download */
.sidebar-bottom>.download>a>img {
    width: 30px;
    vertical-align: middle;

}

.sidebar-bottom>.download>a {

    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    padding-bottom: 10px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.sidebar-bottom>.download>a>span {

    padding-left: 10px;
}

.sidebar-bottom>.profile>.avatar>img {
    width: 30px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 60%;

}

.sidebar-bottom>.profile {
    display: flex;
    align-items: center;
}

.sidebar-bottom>.profile>span {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.4);
    padding-left: 10px;
}

/* /Sidebar */

/* Main content */

.wrapper-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    position: relative;
    /* align-items: stretch; */
}

.content {
    width: calc(100% - 250px);
    height: 100%;
    display: block;
    flex: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 250px;

}

/* /Main content */

/* /Main */

/* Footer */
footer {
    height: 104px;
    overflow: hidden;
    width: 100%;
    z-index: 999;
 
}

#player {
    /* min-height: 10vh; */
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #282828;
    z-index: 999;
}

/* Dimensioni sezioni footer */
/* Sezione album-on-air */

#player .album-on-air {
    width: 250px;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



/* Contenitore Copertina album */
#player>.album-on-air>.cover-album {
    width: 20%;
}


/* Img copertina album */
#player>.album-on-air>.cover-album>img {
    width: 100%;
}

#player>.album-on-air>.title-album>h2>a {
    font-size: 16px;
    color: rgba(255, 255, 255, 1)
}

#player>.album-on-air>.title-album>p>a {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.4);

}

/* Controllers */
#player .controller {
    width: 60%;

}

#player .controller ul.icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Formattazione */
    list-style: none;
}

/* /Controllers */

/* Icons */
.far {
    color: rgba(255, 255, 255, 0.4);
}

.fa-folder {
    margin-left: 10px;
}

/* Controller-icon */
.controller {
    width: 40%;
    height: 100%;
}

.controller-icon {
    height: 60%;
}

ul.icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;
    font-size: 18px;
    line-height: 35px;

}

ul.icon-list li {
    margin: 10px;
    color: white;

}

.controller-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.controller-time .time-min-song {
    width: 10%;
    margin: 0 10px;
    font-size: 12px;
    text-align: center;
}

.controller-time .time-bar {
    width: 80%;
    height: 4px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.2);
}

.controller-time .time-bar-20-per {
    width: 20%;
    height: 4px;
    border-radius: 4px;
    background-color: white;
}



/* Mediaquery */

@media screen and (min-width: 992px) {
    .sidebar-top img.logo-desktop {
        display: inline-block;
        width: 70%;
        padding: 20px;
    }

    .sidebar-top img.logo-mobile {
        display: none;
    }

}

/* Debug */

.debug .wrapper {
    background-color: #212121
}

.debug .sidebar {
    background-color: #121212;
}


/* Debug */