* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generali */

main {
    height: calc(100% - 100px);
}

body {
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
}



.clearfix {
    content: "";
    display: table;
    clear: both;
}

/* Wrapper */
.wrapper {
    width: 100%;
    height: 100vh;
    background-color: black;
}

/* /Generali */

/* Sidebar */

.sidebar {
    width: 250px;
    min-height: 90vh;
    height: 100%;
    float: left;
}

.sidebar-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 100px);
}

/* Nascondo il logo desktop */
.sidebar-top img.logo-desktop {
    display: none;
}

.sidebar-top logo-mobile {
    display: flex;
}

.sidebar-top img.logo-mobile {
    width: 50%;
    padding: 20px;
    padding: 20px;
}

/* Logo mobile / logo desktop */

/* Main Menu */
.sidebar .menu-top ul.main-menu {
    line-height: 35px;
}

.sidebar .menu-top ul.main-menu li {
    padding-left: 20px;
}

/* Formattazione testo menu */
.sidebar .menu-top ul.main-menu a {
    text-decoration: none;
    font-size: 16px;
    word-break: break-all;
    color: rgba(255, 255, 255, 0.5);

}

/* Icone menu */
.sidebar .menu-top ul.main-menu a img {
    height: 26px;
    margin-right: 5px;
    opacity: 0.6;
    vertical-align: middle;
}

/* /Icone menu */

.sidebar .menu-top ul.main-menu .title {
    padding: 20px;
}

/* Pulsante crea playlist */
#add-playlist:before{
    display:inline-block;
    width: 35px;
    height: 35px;
    content:"+";
    font-size: 35px;
    text-align:center;
    background-color: grey;
    padding: 5px;
    margin-right: 10px;
    line-height: 35px;
    vertical-align: middle;
    
}

#add-playlist{
    margin-left:20px;
    margin-bottom:10px;
}
/* /Sidebar */

/* Main content */

.content {
    width: calc(100% - 250px);
    height: 100%;
    float: left;

}

/* /Main content */

/* /Main */

/* Footer */
footer.commands {
    height: 10vh;
    background-color: #282828;
<<<<<<< HEAD
=======
    z-index: 999;
}

/* Dimensioni sezioni footer */
/* Sezione album-on-air */

#player .album-on-air {
    width: 250px;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



/* Contenitore Copertina album */
#player>.album-on-air>.cover-album {
    width: 20%;
}


/* Img copertina album */
#player>.album-on-air>.cover-album>img {
    width: 100%;
}

#player>.album-on-air>.title-album>h2>a {
    font-size: 16px;
    color: rgba(255, 255, 255, 1)
}

#player>.album-on-air>.title-album>p>a {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.4);

}

/* Controllers */
#player .controller {
    width: 60%;

}

#player .controller ul.icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Formattazione */
    list-style: none;
}

/* /Controllers */

/* Icons */
.far {
    color: rgba(255, 255, 255, 0.4);
}

.fa-folder {
    margin-left: 10px;
}

/* Controller-icon */
.controller {
    width: 40%;
    height: 100%;
}

.controller-icon {
    height: 60%;
}
/* Liste icone generiche */
ul.icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;
    font-size: 18px;
    line-height: 35px;

}

ul.icon-list li {
    margin: 10px;
    color: white;

}

/* /Liste icone generiche */

/* Minutaggio barra centrale */
.controller-time {
    display: flex;
    justify-content: center;
    align-items: center;

}

.controller-time .time-min-song {
    width: 10%;
    margin: 0 10px;
    font-size: 12px;
    text-align: center;
}

/* /Minutaggio barra centrale */

/* Barre */
.time-bar {
    width: 80%;
    height: 4px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.2);
}

.time-bar-20-per {
    width: 20%;
    height: 4px;
    border-radius: 4px;
    background-color: white;
}

/* /Barre */

/* Music settings*/
.music-settings {
    width: 330px;
    height:100%;
    padding: 10px;
}



li.volume {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Contenuto */

/* call-to-action */

.content > .row {
    display: flex;
    justify-content: flex-end;
    background-color: (0, 0, 0, 0.4);
}

.content > .row > .call-to-action.upgrade > button.btn-transparent{
    font-size:25px;
    border-radius: 10%;
    padding:30px;
    margin-top: 30px;
    margin-right:30px;
>>>>>>> parent of 312b6eb ( background call to action)
}

/* /Footer */

/* Mediaquery */

@media screen and (min-width: 992px) {
    .sidebar-top img.logo-desktop {
        display: inline-block;
        width: 70%;
        padding: 20px;
    }

    .sidebar-top img.logo-mobile {
        display: none;
    }

}

/* Debug */

.debug .wrapper {
    background-color: #212121
}

.debug .sidebar {
    background-color: #121212;
}


/* Debug */