* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* Generali */

main{
    height: calc(100% - 100px);
}

body {
	font-family: 'Montserrat', sans-serif;
	color: rgb(255, 255, 255);
}



.clearfix{
    content:"";
    display: table;
    clear: both;
}

/* Wrapper */
.wrapper{
    width: 100%;
    height: 100vh;
  
}

/* /Generali */

/* Sidebar */

.sidebar{
    width:250px;
    min-height: 90vh;
    height:100%;
    float:left;
}

.sidebar-top{
    display:flex;
    flex-direction: column;
    height: calc(100% - 100px);
}

/* Ridimensiono il logo */
.sidebar-top > .logo > img {
    width:70%;
    padding: 20px;
}

.sidebar .menu-top ul.main-menu {

    line-height: 35px;
}

.sidebar .menu-top ul.main-menu li {
    padding-left:20px;
}


.sidebar .menu-top ul.main-menu a {
    text-decoration:none;
    font-size:18px;
    color: rgba(255, 255, 255, 0.5);
    
}

.sidebar .menu-top ul.main-menu a img{
    height: 26px;
    margin-right: 5px;
    opacity: 0.6;
    vertical-align: middle;
}



/* /Sidebar */

/* Main content */

.content{
    width: calc(100% - 250px);
    height:100%;
    float:left;

}

/* /Main content */

/* /Main */

/* Footer */
footer.commands {
    height:10vh;  
    background-color:#282828;
}
/* /Footer */

/* Debug */

.debug .wrapper{
    background-color: #212121
}

.debug .sidebar{
    background-color: #121212;
}

.debug .sidebar-bottom{
    background-color: red;
    height: 100px;
}

