* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* Generali */

main{
    height: calc(100% - 100px);
}

.clearfix{
    content:"";
    display: table;
    clear: both;
}

/* Wrapper */
.wrapper{
    width: 100%;
    height: 100vh;
  
}

/* /Generali */

/* Sidebar */

.sidebar{
    width:250px;
    min-height: 90vh;
    height:100%;
    float:left;
}

.sidebar-top{
    display:flex;
    flex-direction: column;
}

/* Ridimensiono il logo */
.sidebar-top > .logo > img {
    width:70%;
    padding: 20px;
}

/* /Sidebar */

/* Main content */

.content{
    width: calc(100% - 250px);
    height:100%;
    float:left;

}

/* /Main content */

/* /Main */

/* Footer */
footer.commands {
    height:10vh;  
    background-color:#282828;
}
/* /Footer */

/* Debug */

.debug .wrapper{
    background-color: #212121
}

.debug .sidebar{
    background-color: #121212;
}

