/* Generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    /* Tolgo lo stile ad ogni link */
    a {
        text-decoration: none;
        color:white;
        opacity: 0.8;
    }
    
    ul,
    li, 
    span {
        list-style: none;
        color: rgba(255, 255, 255, 0.4);
    
    }
    
    /* Icone */
    
    /* Icons */
    .far {
        color: rgba(255, 255, 255, 0.4);
    }
    
    .fa-folder {
        margin-left: 10px;
    }
    
    /* /Icone */
    
    /* Posizionamento */
    .float-left{
        float: left;
    }
    /* /Posizionamento */
    
    /* Pulsanti */ 
    button {
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    
    }
    
    /* Bottone trasparente */
    
    .btn-transparent {
        color: black;
        font-weight: bolder;
        border: solid 1px;
        background-color: rgba(255, 99, 71, 0)
    }
    
    /* /Fine Bottone trasparente */
    /* /Fine pulsanti */
    
    /* Wrapper */
    
    .wrapper{
        width:100%;
        height: 100vh;
        background-color: black;
    }
    
    
    .wrapper:after {
        content: "";
        display: table;
        clear: both;
    }
    
    /* Main */
    
    .main {
        height: calc(100% - 90px);
        width: 100%;
        overflow: hidden;
    }
    
    /* Sidebar */
    
    #sidebar{
        display: flex;
        flex-direction: column;
        
    }
    
    /* Tutte le img tranne il logo  */
    #sidebar img:not(.logo-desktop){
        height: 26px;
        margin-right: 5px;
        opacity: 0.6;
        vertical-align: middle;
    }
    
    /* Logo */
    #sidebar .logo-desktop{
        width:70%;
    }
    
    #sidebar ul li,
    #sidebar .nav-logo,
    #add-playlist {
        padding:10px
    }
    
    /* Sezione playlist */
    
    #sidebar .nav-playlist{
        height: 600px;
        
    }
    
    #add-playlist:before {
        display: inline-block;
        width: 35px;
        height: 35px;
        content: "+";
        font-size: 35px;
        text-align: center;
        background-color: grey;
        padding: 5px;
        margin-right: 10px;
        line-height: 35px;
        vertical-align: middle;
    
    }
    
    #sidebar ul.playlist-menu{
        height: 200px;
        overflow-y: auto;
        margin-top:30px;
    }
    
    /* /Sezione playlist */
    
    /* Effetto Hover */
     #sidebar li:hover:not(.no-hover) {
        border-left: solid green 2px;
    
    }
    
    /* /Effetto Hover */
    
    /* Sezione nav-bottom */
    
    #sidebar .nav-bottom{
        min-height: 100px;
        min-width: 250px;
        /* position: fixed; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        line-height: 35px;
        padding: 10px;
       
    }
    
    #sidebar .nav-bottom>.download>a>img {
        width: 30px;
        vertical-align: middle;
        
    
    }
    
    /* Bordo inferiore sezione Download */
    #sidebar .nav-bottom>.download>a {
        color: rgba(255, 255, 255, 0.4);
        text-decoration: none;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }
    
    #sidebar .nav-bottom>.profile>.avatar>img {
        width: 30px;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 60%;
    
    }
    
    /* /Sidebar */
    
    /* Footer */
    
    #player {
        
        height: 120px;
        width:100%;
        position: fixed;
        bottom:0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #282828;
        
    }
    
    /* Dimensioni sezioni footer */
    /* Sezione album-on-air */
    
    #player .album-on-air {
        width: 250px;
        height: 100%;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    
    
    /* Contenitore Copertina album */
    #player>.album-on-air>.cover-album {
        width: 20%;
    }
    
    
    /* Img copertina album */
    #player>.album-on-air>.cover-album>img {
        width: 100%;
    }
    
    #player>.album-on-air>.title-album>h2>a {
        font-size: 16px;
        color: rgba(255, 255, 255, 1)
    }
    
    #player>.album-on-air>.title-album>p>a {
        font-size: 16px;
        
    }
    
    /* Controllers */
    #player .controller {
        width: 60%;
    
    }
    
    #player .controller ul.icon-list {
        display: flex;
        justify-content: center;
        align-items: center;
     
    }
    
    /* /Controllers */
    
    
    
    /* Controller-icon */
    .controller {
        width: 40%;
        height: 100%;
    }
    
    .controller-icon {
        height: 60%;
    }
    /* Liste icone generiche */
    ul.icon-list {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        list-style: none;
        font-size: 18px;
        line-height: 35px;
    
    }
    
    ul.icon-list li {
        margin: 10px;
        color: white;
    
    }
    
    /* /Liste icone generiche */
    
    /* Minutaggio barra centrale */
    .controller-time {
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    .controller-time .time-min-song {
        width: 10%;
        margin: 0 10px;
        font-size: 12px;
        text-align: center;
    }
    
    /* /Minutaggio barra centrale */
    
    /* Barre */
    .time-bar {
        width: 80%;
        height: 4px;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.2);
    }
    
    .time-bar-20-per {
        width: 20%;
        height: 4px;
        border-radius: 4px;
        background-color: white;
    }
    
    /* /Barre */
    
    /* Music settings*/
    .music-settings {
        width: 250px;
        height:100%;
        padding: 10px;
    }
    
    
    
    li.volume {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    /* /Footer */