* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generali */

main {
    /* Sottraggo la dimensione del footer */
    height: calc(100% - 100px);
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

/* Wrapper */
.wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 90vh;
    overflow: hidden;
    background-color: black;
}


/* /Generali */

/* Sidebar */

aside.sidebar {
    width: 250px;
    height: calc(100% - 10vh);
    position: fixed;

}

.sidebar-top {
    display: flex;
    flex-direction: column;
    /* Sottraggo la dimensione del footer */
    height: calc(100% - 100px);
}

/* Nascondo il logo desktop di dwfault - MobileFirst*/
.sidebar-top img.logo-desktop {
    display: none;
}

/* Logo mobile */
.sidebar-top logo-mobile {
    display: flex;
}

.sidebar-top img.logo-mobile {
    width: 50%;
    padding: 20px;
    padding: 20px;
}

/* /Logo mobile */

/* Main Menu */
.sidebar .menu-top ul.main-menu,
.sidebar .menu-top .playlist ul.playlist-menu {
    line-height: 35px;
}

.sidebar .menu-top .playlist ul.playlist-menu {
    margin-top: 20px;
    height: 200px;
    overflow-y: auto;
}

.sidebar .menu-top ul.main-menu li,
.sidebar .menu-top .playlist ul.playlist-menu li {
    padding-left: 20px;
}

/* Formattazione testo menu */
.sidebar .menu-top ul.main-menu a,
.sidebar .menu-top .playlist ul.playlist-menu a {
    text-decoration: none;
    font-size: 16px;
    word-break: break-all;
    color: rgba(255, 255, 255, 0.5);

}

/* Icone menu */
.sidebar .menu-top ul.main-menu a img,
.sidebar-bottom > .profile > .avatar > img {
    height: 26px;
    margin-right: 5px;
    opacity: 0.6;
    vertical-align: middle;
}

/* /Icone menu */

.sidebar .menu-top h2.title {
    color: rgba(255, 255, 255, 0.5);
    padding: 20px;
}

/* Pulsante crea playlist */
#add-playlist:before {
    display: inline-block;
    width: 35px;
    height: 35px;
    content: "+";
    font-size: 35px;
    text-align: center;
    background-color: grey;
    padding: 5px;
    margin-right: 10px;
    line-height: 35px;
    vertical-align: middle;

}

section.playlist {
    /* min-height: 500px; */
    overflow: hidden;
}

#add-playlist {
    margin-left: 20px;
    margin-bottom: 10px;
}

a#add-playlist {
    color: white;
    text-decoration: none;
}

/* Sidebar bottom */
.sidebar-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 35px;
    padding: 20px;
}

.sidebar-bottom>.download>a>img {
    width: 20px;
    vertical-align: middle;
 
}

.sidebar-bottom>.download>a {
    /* margin-left: 10px; */
    color: rgba(255, 255, 255, 0.4);   
    text-decoration: none;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);

}

.sidebar-bottom > .profile {
    display:flex;
    align-items: center;
}

.sidebar-bottom > .profile > span {
        color: rgba(255, 255, 255, 0.4);
}

/* /Sidebar */

/* Main content */

.wrapper-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    position: relative;
    /* align-items: stretch; */
}

.content {
    width: calc(100% - 250px);
    display: block;
    flex: 1;
    max-height: 90vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 250px;

}

/* /Main content */

/* /Main */

/* Footer */

footer {
    z-index: 999;
}

footer.commands {
    /* height: 100%; */
    min-height: 10vh;
    display: flex;
    flex-shrink: 1;
    background-color: #282828;
}

/* /Footer */

/* Mediaquery */

@media screen and (min-width: 992px) {
    .sidebar-top img.logo-desktop {
        display: inline-block;
        width: 70%;
        padding: 20px;
    }

    .sidebar-top img.logo-mobile {
        display: none;
    }

}

/* Debug */

.debug .wrapper {
    background-color: #212121
}

.debug .sidebar {
    background-color: #121212;
}


/* Debug */